@mixin text-smooth() {
	-webkit-font-smoothing: antialiased;
}

@mixin input-placeholder($color) {
  &.placeholder {
    color: $color; 
  }
  &:-moz-placeholder {
    color: $color; 
  }
  &::-webkit-input-placeholder {
    color: $color; 
  } 
}

@mixin arrow-up($size: 10px, $color: black){
	width: 0; 
	height: 0; 
	border-left: $size solid transparent;
	border-right: $size solid transparent;
	border-bottom: $size solid $color;
}

@mixin arrow-down($size: 10px, $color: black){
	width: 0; 
	height: 0; 
	border-left: $size solid transparent;
	border-right: $size solid transparent;
	border-top: $size solid $color;
}

@mixin arrow-right($size: 10px, $color: black){
	width: 0; 
	height: 0; 
	border-top: $size solid transparent;
	border-bottom: $size solid transparent;
	border-left: $size solid $color;
}

@mixin arrow-left($size: 10px, $color: black){
	width: 0; 
	height: 0; 
	border-top: $size solid transparent;
	border-bottom: $size solid transparent; 
	border-right:$size solid $color;
}

@mixin sans-serif()
{
	font-family: $site-sans-serif, "Helvetica Neue", Helvetica, Arial, sans-serif;
	@include text-smooth;
}

@mixin serif()
{
	font-family: $site-serif, TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
	@include text-smooth;
}