@import "compass/reset";
@import "compass/layout";
@import "compass/css3";
@import "rgbapng";

$site-width: 960px;
// colors go here

$site-sans-serif: 'droid-sans';
$site-serif: 'droid-serif';

@import "mixins";
@import "reset";
@import "fonts";
@import "global";